{% extends 'base.html' %}
{% block content %}
    <div class="page-wrapper">
        <div class="highscores-container">
            <h2>Top 10</h2>
            <ul id="highscores-list">
                {% for score in top_scores %}
                    <li>{{ loop.index }}. {{ score.name }}: {{ score.score }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="back-button">
            <button onclick="location.href='{{ url_for('index') }}'">⬅ Back to Home</button>
        </div>
    </div>
{% endblock %}
